<!DOCTYPE html>
<html lang="es"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>

<header th:replace="~{layout/layout :: header}"></header>
<div class="container mt-5">
    <div class="card shadow rounded-4">
        <div class="card-body p-4">
            <h2 class="mb-4 text-center" th:text="${subtitle}">Formulario Estudiante</h2>

            <form th:action="@{${formAction}}" th:object="${student}" method="post" class="row g-3 needs-validation">

                <input type="hidden" th:field="*{idStudent}"/>

                <div class="col-md-4">
                    <label class="form-label">Código</label>
                    <input type="text" th:field="*{codeStudent}" class="form-control" required>
                </div>

                <div class="col-md-4">
                    <label class="form-label">DNI</label>
                    <input type="text" th:field="*{dni}" class="form-control" maxlength="8" required>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Fecha de Nacimiento</label>
                    <input type="date" th:field="*{birthDate}" class="form-control" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Nombres</label>
                    <input type="text" th:field="*{firstName}" class="form-control" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Apellidos</label>
                    <input type="text" th:field="*{lastName}" class="form-control" required>
                </div>

                <div class="col-md-4">
                    <label class="form-label d-block">Género</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{gender}" value="Masculino"
                               id="genderMale">
                        <label class="form-check-label" for="genderMale">Masculino</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{gender}" value="Femenino"
                               id="genderFemale">
                        <label class="form-check-label" for="genderFemale">Femenino</label>
                    </div>
                    <div class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
                </div>


                <div class="col-md-4">
                    <label class="form-label">Correo electrónico</label>
                    <input type="email" th:field="*{email}" class="form-control" required>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Teléfono</label>
                    <input type="text" th:field="*{phoneNumber}" class="form-control" maxlength="9" required>
                </div>

                <div class="col-12">
                    <label class="form-label">Dirección</label>
                    <input type="text" th:field="*{address}" class="form-control" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Fecha de Registro</label>
                    <input type="date" th:field="*{dateRegistration}" class="form-control" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Estado</label>
                    <select th:field="*{status}" class="form-select" required>
                        <option value="" disabled>Seleccione...</option>
                        <option value="activo" th:selected="*{status} == 'activo'">Activo</option>
                        <option value="inactivo" th:selected="*{status} == 'inactivo'">Inactivo</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="legalRepresentative" class="form-label">Representante Legal</label>
                    <select id="legalRepresentative" th:field="*{legalRepresentative}" class="form-select" required>
                        <option value="">Seleccione...</option>
                        <option th:each="legalRepre : ${legalRepresentativeServices}"
                                th:value="${legalRepre.idLegalRepresentative}"
                                th:text="${legalRepre.firstName + ' ' + legalRepre.lastName}">
                        </option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('legalRepresentative')}"
                         th:errors="*{legalRepresentative}"></div>
                </div>

                <div class="col-12 text-end mt-4">
                    <a th:href="@{/students}" class="btn btn-secondary me-2">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{layout/layout :: footer}"></footer>
</body>
</html>